/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/


a:link {
	color: #356011;
}

a:hover{
	text-decoration: underline;
	color: #353535;
}
 
a:visited {
	color: #356011;
}

*
{
border: 1;
margin: 0;
}

body
{

	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	background: #6d8835 url(images/bg.gif) repeat-x;
}

#bg{
	background:url(images/bgtop.jpg) no-repeat center top;
}

#main
{
margin: 0 auto;
width: 778px;
background: #e3fdac;
border-right: 10px solid #e3fdac;
border-left: 10px solid #e3fdac;
}

#header
{
width: 778px;
margin: 0 auto;
height: 191px;
background: url(images/pusdiklat.jpg) no-repeat center bottom;
border-bottom: 8px solid #e3fdac;
}

#logo
{
padding-left: 40px;
text-align: left;
text-shadow:#21CA72;
padding-top:7px;
height: 207px;
}

#logo a {
	text-decoration: none;
	text-transform: uppercase;
	font-style: italic;
	font-size: 24px;
	color:#009900;
	font-weight: bold;
	
}


#logo H2 a
{
font-size: 11px;

}

#buttons
{
	width: 778px;
	height: 62px;
	margin: 0 auto;
	background: url(images/menu.gif) repeat-x;
}

#buttons ul {
    padding-left: 10px;
    margin: 0px;      
}

#buttons li {
	display: inline;		
}

#buttons a {
	display: block;
	float: left;
	width: 70px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	padding-top: 22px;
	margin-right: 4px;
}

#buttons a:hover {
	width: 70px;
    height: 40px;
	font-size: 12px;
	background: url(images/menu_hover.gif) repeat-x;
}

#content
{
width: 768px;
padding: 5px;
min-height: 260px;
}



#content_bg{
	background: #e3fdac url(images/content_bg.gif) repeat-x top;
	padding: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #e3fdac;
}


#left
{
width: 735px;
padding: 10px;
background: #ffffff;
border: 1px solid #3a6611;
}

#left2
{
width: 735px;
height: auto;
padding: 10px;
background:#669966;
border: 1px solid #3a6611;
}

#left3
{
width: 735px;
height: 250px;
padding: 5px;
background:#669966;
border: 1px solid #3a6611;
}

#left4
{
width: 745px;
height: 550px;
padding: 5px;
background:#669966;
border: 1px solid #3a6611;
}

#left5
{

width: 375px;
height: 600px;
padding: 5px;
background:#669966;
border: 1px solid #3a6611;
}


.text{
	padding-top: 5px;
	padding-bottom: 30px;
}

#left H1, #left H2
{
color: #356011;
font-size: 24px;
font-family:Georgia, "Times New Roman", Times, serif;
padding-top: 20px;
padding-left: 10px;
background: url(images/title_left.gif) no-repeat;
font-weight:normal;
border-bottom: 1px solid #356011;
}

.post{
	color: #356011;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
}

#left a
{
 color:#000099;
}

#left a:hover{
	text-decoration: none;
	color: #353535;
}

#left a:visited {
	color: #356011;
}

#left2 a
{
 color:#0000FF;
}

#left2 a:hover{
	text-decoration: none;
	color: #353535;
}

#left2 a:visited {
	color: #356011;
}

.date {
	
	margin: 0 auto;
	color: #356011;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px;
	border-top: 1px solid #356011;
	font-weight:bold;
}

.date a {
	color: #356011;
	text-decoration:none;
}

.dateleft{
	background:url(images/comment.gif) no-repeat;
	padding-left: 30px;
	height: 16px;
	margin-top: 2px;
	width:200px;
	margin-left: 120px;
	width: 130px;
}

.dateright{
	margin-top: 2px;
	background:url(images/timeicon.gif) no-repeat left;
	padding-left: 25px;
	height: 16px;
	float: left;

}


#right
{
width: 359px;
height: auto;
min-height: 550px ;
padding-right: 10px;
padding-top: 3px;
padding-bottom: 5px;
background:#669966;
border: 1px solid #3a6611;
float:right;
}

.scroll {
height: 583px;
width: 350Px;
overflow: auto;
border: 1px solid #666;
background-color:#FFFFCC;
padding: 8px;
}

.scroll2 {
height: 600px;
width: 720Px;
overflow: auto;
border: 1px solid #666;
background-color:#FFFFCC;
padding: 8px;
}

#logout
{

}

#right ul 
{
	list-style: none;
	display:block;
	padding-left: 20px;
	padding-top: 10px;
}

#right ul li{
	margin-bottom: 20px;
	height: 24px;
}

#archives ul li {
	margin-bottom: 5px;
	background:url(images/list_style.gif) no-repeat left;
	padding-left: 15px;

}

#right h2 {
	height: 34px;
	background: url(images/title_right2.gif) no-repeat;
	font-size: 18px;
	color: #ffffff;
	text-align:center;
	padding-top: 12px;
	font-weight: normal;
}

#right h3 {
	height: 34px;
	background: url(images/title_right2.gif) no-repeat;
	font-size: 20px;
	color: #ffffff;
	text-align:center;
	padding-top: 12px;
	font-weight: normal;
}

#right a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 12px;
	font-weight: bold;
}

#right a:hover {
	text-decoration: underline;
}

#right li a {
	padding-left: 10px;
	background: url(images/img09.gif) no-repeat;
}

#footer
{
	background: url(images/footer.gif) repeat-x;
	height: 50px;
	margin: 0 auto;
	font-size: 10px;
	color: #ffffff;
	padding-top: 20px;
	text-align: center;
	clear:both;
}

#footer a
{
color: #ffffff;
font-size: 10px;
text-decoration: none;
}
.padding
{
padding: 10px;
color:#FF0000;
font-weight: bold;
}
p {
    
    word-wrap: break-word;
}